* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 90px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1280px;
  height: 100%;
  border: 2px dashed black;
  margin: auto;
}
.wrap {
  flex-wrap: wrap;
}
.space-bet {
  justify-content: space-between;
}

/*******************header******************************/
header {
  height: 80px;
  width: 100%;
  background-color: orange;

  position: fixed;
}
.logo-top {
  width: calc(100% / 3);
  height: 100%;
  border: 2px dashed black;
  margin: 0 20px;
}
/*******************main cards**********************/
.cards {
  width: calc(100% / 3 - 60px);
  height: 300px;
  border: 2px dashed black;
  margin: 0 20px;
}
/*****************footer******************************/
.socials {
  height: 50px;
  width: 90px;
  border: 2px dashed black;
  margin: 0 20px;
}
